* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overskrift {
  margin: 15px;
}

.nike1 {
  margin: 15px;
}
.logo {
  width: 200px;
  height: 50px;
}
.category_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.category_list a {
  display: flex;
  background-color: rgb(201, 151, 255);
  text-decoration: none;
  color: white;
  padding: 30px;
  border-radius: 3px;
  font-size: 24px;
  margin-inline: auto;
  width: 90%;
}
.overskrift {
  margin: 24px;
}
.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin-inline: 50px;
}
.nike1 {
  margin-inline: 50px;
}
.product_list_container a {
  color: black;
}
.pic {
  object-fit: contain;
  height: 300px;
  margin-inline: auto;
}
.card {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 7;
  padding: 20px;
  background-color: lightgray;
}

.line {
  color: rgb(150, 150, 150);
}

.rabat {
  background-color: red;
  border-radius: 2px;
  padding: 10px;
  width: 50px;
  visibility: hidden;
}

.rabat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.isonsale {
  visibility: visible;
}

.soldout {
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 10px;
}

.sop {
  filter: grayscale(90%);
}

/** PRODUKT SIDE**/
.produktside {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 20px;
  align-items: start;
  max-width: 1200px;
  margin: auto;
  margin-top: 45px;
}

.produkt {
  height: auto;
  max-width: 100%;
}

.produkt_info {
  padding: 40px;
  margin-inline: auto;
}

.produkt_info p {
  line-height: 30px;
  margin-bottom: 10px;
}
.produkt_info h1 {
  margin-bottom: 20px;
}

.more-info {
  background-color: lightgray;
  padding: 40px;
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.more-info p {
  line-height: 35px;
}

.fed {
  font-weight: bold;
  line-height: 30px;
}

.info_2 {
  margin-inline: auto;
}

/**MEDIA**/
@media (max-width: 1000px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .produktside {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}

@media (max-width: 700px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .produktside {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .more-info {
    margin-inline: auto;
  }
}
@media (max-width: 500px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 50px;
  }
  .pic {
    height: 400px;
  }
  .produktside {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
}
